In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("002").getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
spark

In [8]:
# df = spark.read.option("header", "true").csv('clean_data.csv')
df = spark.read.csv('clean_data.csv', header=True, inferSchema=True)
df

+---+-----+----+----------+------------+---------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+----+------+----------+---------+------------+---------+----+-----+----+
|_c0|Store|Dept|      Date|Weekly_Sales|IsHoliday|Temperature|Fuel_Price|MarkDown1|MarkDown2|MarkDown3|MarkDown4|MarkDown5|        CPI|Unemployment|Type|  Size|Super_Bowl|Labor_Day|Thanksgiving|Christmas|week|month|year|
+---+-----+----+----------+------------+---------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+----+------+----------+---------+------------+---------+----+-----+----+
|  0|    1|   1|2010-02-05|     24924.5|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
|  1|    1|   2|2010-02-05|    50605.27|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
|  2|    1|   3|2010-02-05|    13740.12|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
|  3|    1|   4|2010-02-05|    39954.04|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
|  4|    1|   5|2010-02-05|    32229.38|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
|  5|    1|   6|2010-02-05|     5749.03|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
|  6|    1|   7|2010-02-05|    21084.08|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
|  7|    1|   8|2010-02-05|    40129.01|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
|  8|    1|   9|2010-02-05|    16930.99|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
|  9|    1|  10|2010-02-05|     30721.5|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
| 10|    1|  11|2010-02-05|    24213.18|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
| 11|    1|  12|2010-02-05|     8449.54|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
| 12|    1|  13|2010-02-05|    41969.29|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
| 13|    1|  14|2010-02-05|    19466.91|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
| 14|    1|  16|2010-02-05|    10217.55|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
| 15|    1|  17|2010-02-05|    13223.76|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
| 16|    1|  18|2010-02-05|      4729.5|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
| 17|    1|  19|2010-02-05|     1947.05|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
| 18|    1|  20|2010-02-05|      5034.1|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
| 19|    1|  21|2010-02-05|     8907.63|    false|      42.31|     2.572|      0.0|      0.0|      0.0|      0.0|      0.0|211.0963582|       8.106|   A|151315|     false|    false|       false|    false|   5|    2|2010|
+---+-----+----+----------+------------+---------+-----------+----------+---------+---------+---------+---------+---------+-----------+------------+----+------+----------+---------+------------+---------+----+-----+----+
only showing top 20 rows

In [6]:
df.select("Weekly_Sales", "Temperature").show()

+------------+-----------+
|Weekly_Sales|Temperature|
+------------+-----------+
|     24924.5|      42.31|
|    50605.27|      42.31|
|    13740.12|      42.31|
|    39954.04|      42.31|
|    32229.38|      42.31|
|     5749.03|      42.31|
|    21084.08|      42.31|
|    40129.01|      42.31|
|    16930.99|      42.31|
|     30721.5|      42.31|
|    24213.18|      42.31|
|     8449.54|      42.31|
|    41969.29|      42.31|
|    19466.91|      42.31|
|    10217.55|      42.31|
|    13223.76|      42.31|
|      4729.5|      42.31|
|     1947.05|      42.31|
|      5034.1|      42.31|
|     8907.63|      42.31|
+------------+-----------+
only showing top 20 rows

In [7]:
df.select(df.Weekly_Sales, df.Temperature).show()

+------------+-----------+
|Weekly_Sales|Temperature|
+------------+-----------+
|     24924.5|      42.31|
|    50605.27|      42.31|
|    13740.12|      42.31|
|    39954.04|      42.31|
|    32229.38|      42.31|
|     5749.03|      42.31|
|    21084.08|      42.31|
|    40129.01|      42.31|
|    16930.99|      42.31|
|     30721.5|      42.31|
|    24213.18|      42.31|
|     8449.54|      42.31|
|    41969.29|      42.31|
|    19466.91|      42.31|
|    10217.55|      42.31|
|    13223.76|      42.31|
|      4729.5|      42.31|
|     1947.05|      42.31|
|      5034.1|      42.31|
|     8907.63|      42.31|
+------------+-----------+
only showing top 20 rows